.carousel {
  margin-bottom: 1.5rem;
  /* width: 100%; */
  max-width: 670px;
  margin: 0 auto 1.5rem;
}

@media (min-width: 992px) {
  .carousel {
    max-width: 500px;
    margin: 0 auto 1.5rem;
  }
}
