.details {
  background-color: #f4f5f7;
  padding: 5rem 0 3rem;
  text-align: center;
}

.description {
  margin-bottom: 4rem;
}

.title {
  color: hsl(233, 26%, 24%);
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.subtitle {
  color: hsl(233, 8%, 62%);
}

/* Media Queries */
@media (min-width: 992px) {
  .details {
    text-align: left;
    padding: 5rem 0 5rem;
  }

  .description {
    width: 60%;
  }

  .services {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .services:last-child {
    margin-right: 0;
  }
}
