.detail {
  text-align: center;
  margin-bottom: 3rem;
}

.image {
  margin-bottom: 1.5rem;
}

.title {
  color: hsl(233, 26%, 24%);
  margin-bottom: 1.5rem;
}

.text {
  color: hsl(233, 8%, 62%);
}

/* Media Queries */
@media (min-width: 992px) {
  .detail {
    text-align: left;
    margin-bottom: 0;
    margin-right: 4rem;
  }
}
