.footer {
  background-color: hsl(233, 26%, 24%);
  color: #fff;
  text-align: center;
  padding: 2rem 0;
}

.logo {
  margin-bottom: 2rem;
}

.btn {
  width: 60%;
  margin: 0 auto 2rem;
}

.copyright {
  font-size: 0.9rem;
}
