.footer {
  background-color: hsl(233, 26%, 24%);
  color: #fff;
  text-align: center;
  padding: 2rem 0;
}

.text {
  margin-bottom: 2rem;
}

.logo {
  margin-bottom: 2.5rem;
}

.btn {
  width: 60%;
  padding: 1rem 2rem;
  margin: 0 auto 2rem;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.icon {
  margin-right: 0.8rem;
}

.footerContact {
  margin-bottom: 4.5rem;
}

.contactMethods {
  margin-bottom: 4rem;
}

.contact {
  display: flex;
  align-items: center;
  text-align: left;
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

.contactText {
  width: 70%;
}

.contactIcon {
  margin-right: 2rem;
}

#locationIcon {
  align-self: flex-start;
  margin-top: 0.6rem;
}

.copyright {
  font-size: 0.9rem;
  color: hsl(233, 8%, 62%);
}

/* Media Queries */
@media (min-width: 992px) {
  .footer {
    padding: 4rem 0 2rem;
  }

  .footerContent {
    display: flex;
    flex-direction: column;
  }

  .logo {
    margin-bottom: 3rem;
    text-align: left;
  }

  .footerContact {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 3rem;
  }

  .contactMethods {
    margin-bottom: 0;
  }

  .contactText {
    width: 50%;
  }

  .btn {
    margin: 0;
  }

  .copyright {
    text-align: right;
  }
}
