.header {
  background-color: #fafafa;
  padding: 1.5rem 0 5rem;
  text-align: center;
}

.headerContent {
  margin-bottom: 5rem;
}

.headerText {
  padding-left: 0;
}

.title {
  color: hsl(233, 26%, 24%);
  margin-bottom: 1rem;
  font-size: 2.2rem;
  /* font-size: 2.5rem; */
  font-weight: 300;
  text-transform: capitalize;
}

.text {
  color: hsl(233, 8%, 62%);
  font-size: 1rem;
  margin-bottom: 2rem;
}

.btn {
  width: 55%;
  margin: 0 auto 4rem;
  text-transform: uppercase;
}

.btn:hover {
  color: #fff;
  text-decoration: none;
}

.icon {
  margin-left: 0.8rem;
}

/* Media Queries */
@media (min-width: 680px) {
  .header {
    padding: 2rem 0 5rem;
  }

  .title {
    font-size: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .header {
    padding: 3rem 0;
  }

  .headerContent {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .headerText {
    margin-right: 4rem;
  }

  .text {
    width: 90%;
    margin: 0 0 2rem;
  }

  .btn {
    margin-bottom: 0;
  }
}
