.navbar {
  padding: 3rem 0 1rem;
}

.navbarContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 35%;
  max-width: 175px;
  filter: brightness(0);
}

.btn {
  padding: 0.8rem 1rem;
  width: 55%;
  max-width: 235px;
  font-size: 0.9rem;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-left: 0.8rem;
}
