.navbar {
  padding: 1rem 0;
}

.navbarContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 35%;
  max-width: 175px;
  padding-bottom: 0.2rem;
}

.btn {
  padding: 0.8rem 1rem;
  width: 55%;
  min-width: 195px;
  max-width: 235px;
  font-size: 0.9rem;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  color: #fff;
  text-decoration: none;
}

.icon {
  margin-left: 0.8rem;
}
