.services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem;
}

.service {
  background-color: #1f0099;
  background-color: #2d314d;
  color: #fff;
  border-radius: 0.3rem;
  padding: 1rem;
  cursor: pointer;
}

.service:hover {
  opacity: 0.9;
  color: #fff;
  text-decoration: none;
}

.service:last-of-type {
  margin-right: 0;
}

.icon {
  margin-bottom: 0.5rem;
  color: #fff;
}

.text {
  font-size: 0.9rem;
  line-height: 1.2rem;
  margin-bottom: 0;
}

/* Media Queries */
@media (min-width: 775px) {
  .services {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 992px) {
  .services {
    margin-top: 5rem;
    text-align: center;
    font-size: 1.5rem;
  }

  .service {
    max-width: 275px;
  }

  .text {
    font-size: 0.9rem;
  }
}
