.service {
  text-align: center;
  margin-bottom: 3rem;
}

.image {
  margin-bottom: 1.5rem;
}

.title {
  color: hsl(233, 26%, 24%);
  margin-bottom: 1.5rem;
}

.text {
  color: hsl(233, 8%, 62%);
}
