.service {
  padding: 2.5rem 1.5rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
  margin-bottom: 2rem;
  text-align: center;
}

.image {
  margin-bottom: 2.5rem;
  border-radius: 0.5rem;
}

.title {
  color: hsl(233, 26%, 24%);
  margin-bottom: 1rem;
}

.text {
  color: hsl(233, 8%, 62%);
  font-size: 1rem;
}
